@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Blessington Rd, <br />
    Tallaght, <br />
    Dublin 24, <br />
    D24 FKT9 <br />
    Phone: +353 1 404 2000
</address>

<address>
    <strong>Support:</strong>   <a href="info@it-tallaght.ie">info@it-tallaght.ie</a><br />    
</address>